* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bg-color: #7B8D96;
    --clr-primary-400: #7e5555;
    --clr-secondary-400: #FFF;
    --btn-bg-color: #D0E2EB;
    --btn2-bg-color: #FFF;
    --border-color: #FFF;
}

html, body {
    height: 100vh;
    width: 100%;
    font: var(--clr-secondary-400);
}

header {
    display: flex;
    width: 560px;
    margin: 0.5rem auto;
    align-items: center;
}
.brand-name {
    padding-left: 0.5rem;
    margin-right: auto;
    color: #FFF;
}
body {
    background-color: var(--bg-color);
}
.nav ul {
    padding-right: 2rem;
    margin: auto;
}
.nav ul li {
    display: inline-block;
    list-style: none;
    background-color: var(--btn-bg-color);
}
.nav ul li a {
    text-decoration: none;
    color: var(--clr-primary-400);
    font-size: 1rem;
}
#menu-list li {
    display: none;
}
#menu-list li:hover, li:active {
    display: block;
    transition: 0.5sec;
}
.logo {
    width: 42px;
    height: 30px;
}
.centered-container {
    margin: 0 auto;
}
.section-divider {
    margin-bottom: 1rem;
    background-color: var(--border-color);
    width: 600px;
    height: 1px;
}
.console-container {
    margin-top: 1.75rem;
    width: 480px;
    height: 560px;
    background-color: #FFF;
    border-radius: 0.75rem;
    overflow: hidden;
}
.logo {
    width: 42px;
    height: 42px;
    background-color: #FFF;
}

.image-wrapper {
    background: rgba(0, 0, 0, 50%);
}